[submodule "vim/bundle/Vundle"]
	path = vim/bundle/Vundle
	url = https://github.com/gmarik/Vundle.vim
[submodule "vim/vundle.vim"]
	path = vim/vundle.vim
	url = https://github.com/gmarik/Vundle.vim
[submodule "vim/bundle/vundle.vim"]
	path = vim/bundle/vundle.vim
	url = https://github.com/gmarik/Vundle.vim
